.preloader {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: theme('colors.primary');
  gap: 20px;

  @media only screen and (max-width: theme('screens.mdMax.max')) {
  }

  &__bar {
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 3px;
    border-radius: 6px;
  }

  &__bar-filler {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, rgb(0, 90, 244), rgb(11, 255, 119) 100%);
  }
}
