.hero {

  &--show-bg {
    background: transparent url(../img/hero-bg.jpg) center center no-repeat;
    background-size: cover;
  }

  &__text {
    transform: translateY(100%);
    opacity: 0;
    transition: all .5s ease;

    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
