.hero {
  position: relative;
  height: 4000px;

  @media only screen and (max-width: theme('screens.mdMax.max')) {
    //height: 70vh;
    height: 3000px;
  }

  &--show-bg {
    background: transparent url(../img/hero-bg.jpg) center center no-repeat;
    background-size: cover;
  }

  .container {
    //height: 100vh;

    @media only screen and (max-width: theme('screens.mdMax.max')) {
      //height: 70vh;
    }
  }

  &__down {
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: 50%;
    display: block;
    width: 60px;
    transform: translateX(-50%);
    animation: arrow-position-animation 4s linear infinite;

    @media only screen and (max-width: theme('screens.mdMax.max')) {
      width: 30px;
    }

    @keyframes arrow-position-animation {

      0% {
        transform: translate(-50%, 0);
      }

      50% {
        transform: translate(-50%, -10px);
      }

      100% {
        transform: translate(-50%, 0);
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__anim-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  &__anim-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-container {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin-right: auto;
    margin-left: auto;
    max-width: 1078px;
    opacity: 0;
    //transition: all .5s ease;
    transform: translateY(100%);

    &.show {
      //opacity: 1;
      //transform: translateY(0);
    }
  }
}
