.desktop-app {
  position: relative;
  margin: 40px auto 0;
  width: 100%;
  max-width: 750px;
  height: 563px;

  @media only screen and (min-width: theme('screens.md')) {
    margin: 80px auto 0;
  }

  @media only screen and (min-width: theme('screens.5xl')) {
    //margin: 155px auto 0;
  }

  &.first-trigger {

    .desktop-app__img--1 {
      opacity: 0;
      transform: translateY(200px) scale(1.5);

      @media (max-width: theme('screens.mdMax.max')) {
        transform: translateY(100px) scale(1.5);
      }
    }

    .desktop-app__img--2 {
      width: 100%;
      opacity: 1;
      transform: translate(-50%, 0);
    }

    .desktop-app__img--3 {
      left: 50%;
      width: 90%;
      opacity: .6;
      transform: translate(-50%, -20px);

      @media (max-width: theme('screens.mdMax.max')) {
        transform: translate(-50%, -10px);
      }
    }
  }

  &.second-trigger {

    .desktop-app__img--1 {
      opacity: 0;
      transform: scale(1.5);
    }

    .desktop-app__img--2 {
      width: 100%;
      opacity: 0;
      transform: translate(-50%, 200px) scale(1.5);

      @media (max-width: theme('screens.mdMax.max')) {
        transform: translate(-50%, 100px) scale(1.5);
      }
    }

    .desktop-app__img--3 {
      width: 100%;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &__wrapper {
    position: relative;
    height: 2000px;

    @media only screen and (min-width: theme('screens.lg')) {
      height: 3500px;
    }

    @media only screen and (min-width: theme('screens.5xl')) {
      height: 4000px;
    }
  }

  &__container {
    position: sticky;
    top: 0;
    padding-top: 0;
    //padding-top: 100px;
    display: flex;
    height: 100vh;
    //height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: theme('screens.mdMax.max')) {
      padding-top: 30px;
    }

    @media (min-width: theme('screens.md')) and (max-height: 580px) {
      height: auto;
    }

    @media (max-width: theme('screens.mdMax.max')) and (min-height: 560px) {
    }
  }

  &__heading {
    opacity: 1;
    transition: opacity .3s ease;

    &.is-hidden {
      opacity: 0;
    }

    &--absolute {

      @media (min-width: theme('screens.md')) {
        position: absolute;
        z-index: 30;
        top: -212px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      @media (min-width: theme('screens.md')) and (max-height: 739.98px) {
        display: none;
      }

      @media (max-width: theme('screens.mdMax.max')) {
        position: relative;
        z-index: 30;
        display: block;
      }
    }

    &--static {
      display: block;

      @media (min-width: theme('screens.md')) and (min-height: 740px) {
        display: none;
      }

      @media (max-width: theme('screens.mdMax.max')) {
        display: none;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    box-shadow: 28px 41px 99.1px 20px rgba(0, 0, 0, .94);
    transition: var(--transition-long);

    &--1 {
      z-index: 3;
    }

    &--2 {
      z-index: 2;
      left: 50%;
      width: 90%;
      opacity: .6;
      transform: translate(-50%, -20px);

      @media (max-width: theme('screens.mdMax.max')) {
        transform: translate(-50%, -10px);
      }
    }

    &--3 {
      z-index: 1;
      left: 50%;
      width: 80%;
      opacity: .3;
      transform: translate(-50%, -40px);

      @media (max-width: theme('screens.mdMax.max')) {
        transform: translate(-50%, -20px);
      }
    }
  }
}
