.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 16px;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: theme('colors.primary');

  @media only screen and (min-width: theme('screens.md')) {
    background: theme('colors.primary') url(../img/menu-bg.jpg) center center no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: theme('screens.mdMax.max')) {
    padding: 16px 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__burger {
    margin: 0 0 50px;
    padding: 0;
    display: block;
    width: 67px;
    height: 67px;
    background-image: url("data:image/svg+xml,%3Csvg width='67' height='67' viewBox='0 0 68 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0979004' y='0.589661' width='67' height='67' rx='33.5' fill='%230E1928'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.5623 34.3176L19.9557 45.9242L22.077 48.0455L33.6836 36.4389L45.4115 48.1668L47.5329 46.0455L35.8049 34.3176L47.5329 22.5897L45.4115 20.4683L33.6836 32.1963L22.077 20.5897L19.9557 22.711L31.5623 34.3176Z' fill='white'/%3E%3C/svg%3E%0A");
    border: none;

    @media only screen and (max-width: theme('screens.mdMax.max')) {
      margin-bottom: 24px;
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 68 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0979004' y='0.589661' width='67' height='67' rx='33.5' fill='%230E1928'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.5623 34.3176L19.9557 45.9242L22.077 48.0455L33.6836 36.4389L45.4115 48.1668L47.5329 46.0455L35.8049 34.3176L47.5329 22.5897L45.4115 20.4683L33.6836 32.1963L22.077 20.5897L19.9557 22.711L31.5623 34.3176Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    gap: 40px;

    @media only screen and (max-width: theme('screens.mdMax.max')) {
      width: 100%;
      text-align: left;
      gap: 32px;
      align-self: flex-start;
    }

    li {

      a {
        font-size: 27px;
        line-height: 120%;
        font-weight: 700;
        text-align: left;
        letter-spacing: 0;
        color: theme('colors.secondary');

        @media only screen and (max-width: theme('screens.mdMax.max')) {
          font-size: 17px;
          font-weight: 400;
        }

        &.btn-explorer {
          margin-top: 20px;
          line-height: 1.5;
          font-size: 27px;
          font-weight: 400;
          padding: 8px 20px;
          border-radius: 50px;

          @media only screen and (max-width: theme('screens.mdMax.max')) {
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }

  &__lang-switcher {
    display: none;

    @media only screen and (max-width: theme('screens.mdMax.max')) {
      margin: 65px 0 0;
      padding: 0;
      display: flex;
      width: 100%;
      flex-direction: column;
      list-style-type: none;
      gap: 16px;
      align-self: flex-start;
    }

    li {

      a {
        padding: 8px 5px;
        display: flex;
        align-items: center;
        font-size: 17px;
        line-height: 150%;
        font-weight: 400;
        text-align: left;
        letter-spacing: 0;
        color: theme('colors.secondary');
        gap: 12px;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.btn-explorer {
  margin-top: 20px;
  padding: 8px 20px;
  font-size: 27px;
  border-radius: 50px;
}
